@import url('https://fonts.googleapis.com/css?family=Poppins');

.navWrapper {
  width: 60px;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButton {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: solid 3px #272727;
  transition: border-radius 0.2s ease, transform 0.3s ease;
}

.navButton:hover {
  border-radius: 10px;
}

.navButton:active {
  border-radius: 1000px;
}

.menuIcon {
  width: 25px;
  transition: transform 0.3s ease;
}

.menuIcon.open {
  transform: rotate(45deg);
}

.menub {
  background: white;
  width: 200px;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 75px;
  transform: scale(0.01);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.5s ease;
  transform-origin: left top;
}

.menub.open {
  transform: scale(0.99);
  opacity: 1;
}

.menub a {
  color: #393939;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: bold;
  display: block;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease;
}

.menub a:hover {
  color: #D53D3D;
} 

#about, #work, #contact {
  margin-top: 20px;
}
