@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
    background-color: white;
    scroll-behavior: smooth;
}

::selection {
    background: transparent; 
  }
  ::-moz-selection {
    background: transparent; 
  }

* {
    cursor: default;
    font-family: "Source Sans Pro", sans-serif;
    transition: all 0.1s ease 0s;
}

h1 {
    font-size: 345%;
    font-weight: 900;
}

h2.title {
    font-size: 28px;
    font-weight: 900;
    transition: all 0.3s ease 0s;
}

h2.title:hover {
    font-size: 28px;
    font-weight: 900;
    background-color: black;
    color: white;
    transition: all 0.3s ease 0s;
}

h2.title.scrolled {
    font-size: 24px;
    font-weight: 900;
    transition: all 0.3s ease 0s;
}

h2.title.scrolled:hover {
    font-size: 28px;
    font-weight: 900;
    background-color: black;
    color: white;
    transition: all 0.3s ease 0s;
}

a.gohome {
    border: solid white 8px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

a.gohome:hover {
    border: solid black 8px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.night {
    position: fixed;
    top: 1.2%;
    left: 88%;
    border: solid black 5px;
    background-color: white;
    cursor: pointer;
    font-size: 120%;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease 0s;
}

.night.scrolled {
    position: fixed;
    top: 1.5%;
    left: 88.1%;
    border: solid black 5px;
    background-color: white;
    cursor: pointer;
    font-size: 100%;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease 0s;
}

.night:hover {
    position: fixed;
    top: 1.2%;
    left: 88%;
    border: solid black 5px;
    background-color: black;
    cursor: pointer;
    font-size: 120%;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease 0s;
}

.hidden {
    display: none;
}

.menu {
    position: fixed;
    top: 1.2%;
    right: 88%;
    border: solid black 5px;
    background-color: white;
    cursor: pointer;
    font-size: 120%;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease 0s;
}

.menu.scrolled {
    position: fixed;
    top: 1.5%;
    right: 88.1%;
    border: solid black 5px;
    background-color: white;
    cursor: pointer;
    font-size: 100%;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease 0s;
}

.menu:hover {
    position: fixed;
    top: 1.2%;
    right: 88%;
    border: solid black 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 120%;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease 0s;
}

.navbar {
    margin-top: -8px;
    width: 100%;
    height: 75px;   
    position: fixed;
    background-color: rgba(255, 255, 255, 0.979);
    transition: all 0.3s ease 0s;
}

.navbar.scrolled {
    margin-top: -8px;
    width: 100%;
    height: 65px;   
    position: fixed;
    background-color: rgba(255, 255, 255, 0.979);
    transition: all 0.3s ease 0s;
}

.buttons {
    margin-top: 3px;
    align-items: center;
    padding: 1px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
}

.darkbt {
    margin-top: 50%;
    align-items: center;
    padding: 1px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

.darkbt.scrolled {
    margin-top: 60%;
    align-items: center;
    padding: 1px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

.darkbt.scrolled:hover {
    margin-top: 50%;
    align-items: center;
    padding: 1px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

.menubt {
    margin-top: 50%;
    align-items: center;
    padding: 1px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

.menubt.scrolled {
    margin-top: 60%;
    align-items: center;
    padding: 1px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

.menubt.scrolled:hover {
    margin-top: 50%;
    align-items: center;
    padding: 1px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

.header {
    margin-top: 9%;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.boxes {
    display: flex;
    margin-left: 7.5%;
    margin-top: 5%;
    margin-right: 10%;
}

.box {
    border: solid 10px black;
    width: 100%;
    height: 15%;
    cursor: pointer;
}

.box:hover{
    border: solid 10px black;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 100%;
    height: 10%;
}

.letters {
    cursor: pointer;
    width: 90%;
    height: 10%;
    margin-left: 2%;
    margin-top: -1%;
}

h2.descrip {
    cursor: pointer;
    font-size: 40px;
    font-weight: 800;    
}

h2.descripfoot {
    font-size: 40px;
    font-weight: 800;    
}

h3.caption {
    margin-top: -3%;
    font-size: 25px;
    font-weight: 650;   
    cursor: pointer; 
}

h3.captionfoot {
    margin-top: -3%;
    font-size: 25px;
    font-weight: 400;    
}

.spacer {
    padding: 10px;
}

button.btbox {
    display: none;
    margin-top: -5%;
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;
    width: 10%;
    height: 20%;
    border: solid 5px black;
    margin-bottom: 5px;
    transition: all 0.3s ease 0s;
}

button.btbox:hover {
    margin-top: -5%;
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;
    width: 50%;
    height: 50%;
    color: white;
    background-color: black;
    border: solid 5px white;
    margin-bottom: 5px;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

a {
    color: black;
    cursor: pointer;
    text-emphasis-color: none;
    text-decoration: none;
}

.loadingspace {
    margin-right: 50%;
    margin-left: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 34%;
    height: 55%;
    transition: all 0.5s ease 0s;
  }

.scroll-downs {
    margin-right: 50%;
    margin-left: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 34%;
    height: 55%;
    transition: all 0.5s ease 0s;
  }

  .scroll-downs.scrolled {
    opacity: 0;
    margin-right: 50%;
    margin-left: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 34%;
    height: 55%;
    transform: translateY(-30px);
    transition: all 0.5s ease 0s;
    pointer-events: none;
  }

  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 5px solid black;
    border-radius: 25px;
    opacity: 1;
    box-sizing: content-box;
  }

  .scroller {
    width: 100%;
    height: 35%;
    border-radius: 25%;
    background-color: black;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }

  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

  .footer {
      margin-left: 7.5%;
      margin-right: 7.5%;   
  }

  .line {
      width: 83%;
      height: 10%;
      border: solid 2px black;
      margin-left: 7.5%;
      margin-right: 7.5%;
  }

  #loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-radius: 50%;
    border-top-color: rgb(214, 214, 214);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }