@keyframes wave {
    0%, 50%, 100% {
      transform: rotate(0deg); }
    25%, 75% {
      transform: rotate(20deg); } 
}

@keyframes pulse {
    0% {
        transform: scale(1);
    } 

    10% {
        transform: scale(0.85);
    }

    20% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.85);
    }

    60% {
        transform: scale(1);
    }

    70% {
        transform: scale(1);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
}

a:active {
    transform: scale(0.90);
}

a.menu {
    font: 16px "inter", sans-serif;
    color: white;
    text-decoration: none;
    transition: color .2s ease;
}

a.menu.active {
    font-weight: 700;
    text-decoration: none;
}

a.back-to-top {
    color: white;
    text-decoration: none;
    transition: color .2s ease;
}

a.mobile-menu {
    font: 35px "inter", sans-serif;
    color: white;
    text-decoration: none;
    transition: color .2s ease;
}

a.mobile-menu.active {
    font-weight: 650;
    text-decoration: none;
}

a.p-link {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

a.social-link {
    color: white;
    transition: all 0.3s ease 0.1s;
}

a.social-link:hover {
    color: rgb(192, 192, 192);
    transition: all 0.3s ease 0.1s;
}

a.p-link:hover {
    color: rgb(219, 219, 219);
}

html {
    background-color: black; /* Alternative: #1A1A1A */
    padding-left: 5%;
    padding-right: 5%; 
    scroll-behavior: smooth; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "inter", sans-serif;
    color: white;
}

h1 {
    display: flex;
    align-items: center;
    font-size: 70px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    cursor: default; 
}

h2 {
    font-size: 36px;
    font-weight: 800;
}

h3 {
    font-size: 19px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3.h3-container {
    font-size: 24px;
    font-weight: 500;
}

span.hand {
    display: inline-block;
    animation: wave 1s ease 4;
    transform-origin: 80% 80%;
}

span.heart {
    display: inline-block;
    animation: pulse 2.8s ease infinite;
}

span.blog {
    transform: scale(0.75) translateY(15%);
}

span.north {
    transform: translateY(10%);
}

span.north.moveUp {
    transform: translateY(-10%);
}

span.mobile-blog {
    transform: translateY(60%);
}

span.material-icons {
    margin-left: -0.2%;
    margin-top: -0.25%;
    position: absolute;
    transition: all 0.3s ease 0.1s;
}

span.text {
    margin-right: 5%;
}

span.rotated {
    transform: rotate(90deg);
    transition: all 0.25s ease 0.1s;
}

span.rotated.moveDown {
    transform: translateY(10%) rotate(90deg);
    transition: all 0.25s ease 0.1s;
}

span.grey {
    visibility: hidden;
    margin-right: 9.05px;
}

br.footer-br {
    padding: 10%;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    color: #8F8F8F;
    font-size: 14px;
    cursor: default;
}

p.footer {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 18px;
}

p.head {
    margin-top: -4%;
}

p.box {
    margin-top: -5%;
}

nav.main {
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow .3s ease;
    z-index: 5;
    user-select: none;
    background-color: black;
    border-bottom: solid 0.1px rgb(25, 25, 25);
}

nav.scrolled {
    box-shadow: 0 0 30px 10px rgb(10, 10, 10);
}

nav.main div.pageLinks ul li {
    float: left;
}

nav.main .page-links ul li:not(:last-child) {
    margin-right: 30px;
}

nav.main .page-links ul li a {
    position: relative;
    display: inline-block;
}

header.content {
    padding-left: 9.5%;
    padding-right: 10%;
    margin-top: 8%;
    min-height: 80vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: visible;
    z-index: 1;
    transition: all 0.8s ease 0s;
}

button {
    border: none;
    border-radius: 12px;
    width: 160px;
    height: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font: 16px/1 "inter", sans-serif;
    transition: all 0.3s ease 0.1s;
    background:rgb(70, 70, 70);
    color: white;
}

button:hover {
    background: #2c2c2c;
    transition: all 0.3s ease 0.1s;
}

button:active {
    transform: scale(0.90);
    transition: all 0.3s, ease 0.1s;
}

button.first {
    background: white;
    color: black;
    transition: all 0.3s ease 0.1s;
    
}

button.first:hover {
    transition: all 0.3s ease 0.1s;
    background: rgb(170, 170, 170);
}

button.menu-button {
    display: none;
    background: black;
}

div.space {
    width: 1%;
}

header div.groupButtons {
    width: 100%;
    margin-top: 4%;
    margin-bottom: 5%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

header div.groupTwo {
    display: none;
}

div.more {
    padding-right: 10%;
    padding-left: 9.5%;
    width: 100%;
}

div.item {
    margin-top: 10%;
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

header div.groupBoxes {
    width: 100%;
    height: 300px;
    margin-top: 4%;
    margin-bottom: 5%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

div.text-container {
    width: 45%;
    padding: 3%;
    border: solid 0.1px rgb(25, 25, 25);
    border-radius: 28px;
    background: #070707;
    margin: 2%;
    box-shadow: 0px 15px 20px rgba(29, 29, 29, 0.24);
}

div.text-space {
    margin: 5%;
}

div.left-container {
    margin-right: 0%;
    margin-left: 0.5%;
}

div.title-item {
    width: 45%;
}

div.text-item {
    margin-top: 1%;
    width: 45%;
}

div.title-group {
    width: 35%;
}

div.separate {
    margin: 8%;
}

button.title-button {
    width: 100%;
    margin-bottom: 2%;
}

div.description {
    margin-top: 5%;
    margin-left: 2%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    color: white;
    background: -webkit-gradient(linear, 0%, 0%, 0%, 100%, color-stop(-0.3, transparent), to(rgb(20, 20, 20)));
}

div {
    display: block;
}

div.pageLinks {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

ul {
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    margin: 1%;
    display: list-item;
    text-align: -webkit-match-parent;
    transition: all 0.3s ease 0s;
}

li:hover {
    opacity: 0.6;
    transition: all 0.3s ease 0s;
}

div.separate-foot {
    margin: 5%;
}

footer.footer-main {
    display: flex;
    flex-direction: row;
    padding: 10%;
}

footer.footer-bottom {
    display: flex;
    flex-direction: row;
    margin-top: -5%;
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 5%;
    justify-content: space-between;
}

div.social-footer {
    margin-left: 5%;
    width: 50%;
}

div.social-icons {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    font-size: 30px;
    color: white;
}

div.social-space {
    margin: 2%;
}

div.bio-footer {
    width: 50%;
}

div.mobile-menu-overlay {
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0%;
    transition: all 0.8s ease 0s;
    box-shadow: 0 0 30px 10px rgb(10, 10, 10);
    border-bottom: solid 0.1px rgb(25, 25, 25);
    left: 0;
    display: none;
}

div.mobile-menu-overlay.closed {
    top: -100%;
    transition: all 2s ease 0s;
}

div.mobile-links-container {
    padding-top: 20%;
    padding-bottom: 10%;
    margin-left: 5%;
}

div.glass {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    backdrop-filter: blur(10px);
    transition: all 0.8s ease 0s;
    display: none;
}

div.glass.closed {
    opacity: 0;
    transition: all 0.8s ease 0s;
    pointer-events: none;
}

div.scroll {
    margin-right: 3%;
}

@media screen and (max-width: 900px) {
    a {
        width: 100%;
    }

    ul.link-container {
        display: none;
    }
    
    h2 {
        font-size: 32px;
    }

    header.menu-open {
        margin-top: 50%;
        transition: all 0.8s ease 0s;
    }
    
    header div.groupButtons {
        width: 100%;
        height: 30%;
        flex-direction: column;
    }

    button {
        width: 100%;
    }

    button.menu-button {
        display: block;
        border-radius: 8px;
        width: 20%;
        margin-bottom: 3%;
        float: right;
        color: white;
    }

    div.space {
        margin: 1.5%;
    }

    header div.groupTwo {
        margin-top: 0.1%;
        display: block;
    }

    div.description {
        width: 100%;
    }

    div.text-container {
        width: 100%;
    }

    div.item {
        flex-direction: column;
    }

    div.title-item {
        width: 100%;
    }

    div.text-item {
        width: 100%;
    }

    div.left-container {
        margin-top: 8%;
        margin-bottom: 5%;
    }

    div.right-container {
        margin-top: 5%;
    }

    footer.footer-main {
        flex-direction: column;
    }

    div.bio-footer {
        width: 100%;
    }

    div.social-footer {
        margin-top: 2%;
        margin-left: 0%;
        width: 85%;
    }
    
    div.social-icons {
        margin-top: 5%;
    }

    div.mobile-menu-overlay {
        display: block;
    }

    nav.main.menu-open {
        border-bottom: none;
    }
    
    nav.main.menu-open.scrolled {
        border-bottom: none;
        box-shadow: 0 0 30px 10px transparent;
    }

    div.glass {
        display: block;
    }

    footer.footer-bottom {
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    div.scroll {
        margin-top: 5%;
    }
}

